extends ../layout/index

block contenido
    main.container.mt-5
        h1.text-center.mb-5 Pagamento del Viaje
        if(errores)
                    each error in errores
                        .alert.alert-danger.text-center=error.mensaje
        .row.justify-content-center
                    .col.md-8
                        form(action="", method="POST")
                            .form-group
                                label(for="nombre")  Nombre
                                input(id="nombre", type="text", class="form-control", placeholder="Tu nombre", name="nombre", value=nombre)
                            .form-group
                                label(for="correo")  Correo Electronico
                                input(id="correo", type="email", class="form-control", placeholder="Tu correo", name="correo", value=correo)
                            .form-group
                                label(for="tarjate" class="mt-2") Tarjeta de Credito o Debito
                                input(id="tarjeta", type="text", class="form-control text-tarjeta", placeholder="Num tarjeta", name="tarjeta", value=tarjeta)
                                input(id="fechatarjeta", type="text", class="form-control text-fechatarjeta mt-2", placeholder="MM/AA", name="fechatarjeta", value=fechatarjeta)
                                input(id="cvctarjeta", type="text", class="form-control text-cvctarjeta mt-2", placeholder="CVC", name="cvctarjeta", value=cvctarjeta)
                                input(type="submit", value="PAGAR", class="btn btn-success btn-block")

        